:root {
    --lightest: #0cf574;
    --light: #15e6cd;
    --medium: #0bc9cd;
    --dark: #2f97c1;
    --darkest: #172a3a;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

header {
    background-color: var(--darkest);
    color: white;
    padding: 50px 20px 30px;
    font-size: 45px;
}

nav{
    position: absolute;
    top: 30px;
    right: 30px;
}

nav a {
    color: var(--light);
    text-decoration: none;
    padding: 0 15px;
    font-size: 30px;
}

h1 {
    margin: 0;
}

.neon {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 700px;
    background-image: linear-gradient(160deg, var(--lightest), var(--light), var(--dark));
}

.works {
    background-image: linear-gradient(160deg, var(--lightest), var(--light), var(--dark));
}

.works h2 {
    text-align: center;
    color: var(--darkest);
    width: 100%;
    margin: 0;
    padding: 50px 0;
    font-size: 35px;
}

.works-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 150px;
}

.full {
    width: 100%;
    text-align:center;  
}

.half {
    width: 50%;
    text-align: center;
}

.MyBrary {
    width: 100%;
    background-color: #2f97c1;
    font-family: 'brush script mt', 'book antiqua', serif;
    font-size: 110px;
    color: #001242;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 60px 0;
    text-decoration: none;
    border-top-right-radius: 25% 100%;
    border-bottom-left-radius: 25% 100%;
}

.the-technocracy {
    color: #ff7b00;
    background-color: #020122;
    font-family: 'arial black', Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 45px 0;
    border-top-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    text-decoration: none;
}

.malcolm-esque {
    background-image: url("../images/ionic.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'gill sans', 'Times New Roman', Times, serif;
    color: #a4bef3;
    text-shadow: 0px 0px 5px #553d36;
    font-size: 60px;
    padding: 85px 0;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    text-decoration: none;
}

.weather-dashboard {
    background-color: #3a0ca3;
    color: #b5179e;
    font-family: 'impact', sans-serif;
    font-size: 60px;
    padding: 50px 0;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    text-decoration: none;
}

.lyrical-ta {
    background-color: #172a3a;
    font-size: 65px;
    padding: 85px 0;
    text-decoration: none;
    color: white;
    border-bottom-right-radius: 25% 100%;
    border-top-left-radius: 25% 100%;
    font-weight: bold;
}

.about-me {
    display: flex;
    justify-content: space-around;
}

.about-ya-boy {
    display: flex;
    align-items: center;
}

#ya-boy {
    height: 300px;
    width: 300px;
    padding: 80px;
    border-top-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    display: inline;
    object-fit: cover;
}

.about-me div {
    width: 50%;
}

.about-me h2 {
    font-size: 35px;
    color: #587291;
    border-bottom: 5px solid var(--light);
}

.about-me p {
    font-weight: 300;
}

.contact {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
}

.contact h2{
    font-size: 35px;
    color: var(--light);
    border-bottom: 5px solid var(--lightest);
    margin:30px 0 50px;
    width: 70%;

}

.contact p {
    color: var(--light);
    margin: 5px;
    width: 70%;
    font-size: 20px;
}

@media screen and (max-width: 980px) {
    header{
        text-align: center;
    }

    .the-technocracy {
        border-top-left-radius: 25% 100%;
        border-bottom-right-radius: 25% 100%;
    }
    
    .neon {
        width: 70%;
        margin: 0 auto;
    }

    nav {
        position: relative;
        right: 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 35px;
    }

    .neon {
        width: 80%;
    }

    .half{
        width: 100%;
    }

    .about-me {
        flex-direction: column-reverse;
        align-items: center;
    }
    #ya-boy {
        padding: 80px 0;
    }
}

@media screen and (max-width: 575px) {
    header {
        font-size: 30px;
    }
}